asn1crypto==0.24.0
cffi==1.11.5
click==6.7
configparser==3.5.0
cryptography==2.3
decorator==4.3.0
Django==1.11.14
enum34==1.1.6
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
freeze==1.0.10
idna==2.7
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pbr==4.2.0
pycparser==2.18
PyMySQL==0.9.2
pytz==2018.5
six==1.11.0
SQLAlchemy==1.2.10
sqlalchemy-migrate==0.11.0
sqlparse==0.2.4
Tempita==0.5.2
Werkzeug==0.14.1
WTForms==2.2.1
